    {{ define "counter.tmpl"}}
    {{ template "header.tmpl" . }}

    <div class="container main p-3">
      <h2 class="text-center text-break display-4">Days Since {{.Title}}</h2>
      <h6 class="text-center text-break"><i>{{.Description}}</i></h6>
      <h1 class="text-center days-since display-1 fw-bold" data-timestamp="{{ .Timestamp }}"> </h2>

      <form action="/reset/{{.Id}}" method="GET" class="w-50 mx-auto">
        <input type="submit" class="btn btn-primary my-2 mx-auto" value="Reset">
      </form>
      <br/>
      <div>
          <ul class="list-group list-unstyled text-wrap text-break">
              {{ range $i, $reset := .History }}
                  <li class = "p-4">
                      <div class="list-group-item p-3">
                        <div class="container">
                          <div class="row">
                            <div class="col-12">
                              <h3 class="text-center my-2 fs-3">{{ $reset.Description }}</h3>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col">
                              <div class="p-2">
                                <span class="fs-5">{{ $reset.Description }}</span>
                                <br/>
                                <span class="days-since fw-bold display-1" data-timestamp="{{ $reset.Timestamp }}"> </span>
                                <br/>
                                <span class="description"><i>reported by: {{ $reset.Reporter }} caused by {{ $reset.Instigator }})</i></span>
                              </div>
                            </div>
                            <div class="col">
                              <div class="p-2 border bg-light">Box 2</div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </li>
              {{ end }}
          </ul>
      </div>
    </div>
  </body>
  <script>
    (() => {
		'use strict'

		document.querySelectorAll(".days-since").forEach(el => {
			const days = Math.floor((Date.now() - new Date(el.dataset.timestamp)) / 86400000);
			el.textContent = days;
		});
    })();
  </script>
</html>
{{ end }}