{{ define "index.html"}}
{{ template "header.tmpl" . }}
    
    <div class="container main p-5">
        <h2 class="text-center w-100 mb-3">
            <div class="">Days Since Last...</div>
        </h2>
        <br/>
        <input class="form-control" type="text" placeholder= "Find Counters">
        <br/>
        <div>
            <ul class="list-group list-unstyled text-wrap text-break">
                {{ range $i, $counter := .Counters }}
                    <li class="p-1">
                        <a class="text-center list-group-item list-group-item-action p-3" href="/counters/{{ $counter.IDHex }}">
                            <span class="fs-5">{{ $counter.Title }}</span>
                            <br/>
                            <span class="days-since fw-bold display-1" data-timestamp="{{ $counter.LastReset.Timestamp }}"> </span>
                            <br/>
                            <span class="description"><i>{{ $counter.LastReset.Description }} (reported by {{ $counter.LastReset.Reporter }})</i></span>
                        </a>
                    </li>
                {{ end }}
            </ul>
        </div>
        <script>
        (() => {
            'use strict'

            document.querySelectorAll(".days-since").forEach(el => {
                const days = Math.floor((Date.now() - new Date(el.dataset.timestamp)) / 86400000);
                el.textContent = days;
            });

            document.querySelector('input').addEventListener('input', function() {
                const query = this.value.toLowerCase();

                document.querySelectorAll('ul.list-group li').forEach(li => {
                    const title = li.querySelector('span.fs-5').textContent.toLowerCase();
                    li.style.display = title.includes(query) ? '' : 'none';
                });
            });
            })()
        </script>
    </div>
</body>
</html>
{{end}}