{{ define "index.html" }}
{{ template "header.tmpl" . }}
    
<div class="container main p-5">
  <h2 class="text-center w-100 mb-3">
    <div class="">Days Since Last...</div>
        </h2>
            <br />
            <div>
                <ul class="list-group list-unstyled text-wrap text-break">
                    {{ range $i, $poll := .Polls }}
                        <li>
                        <a
                            class="list-group-item list-group-item-action p-3"
                            href="/poll/{{ $poll.Id }}"
                        >
                        <span><strong>
                            {{ $poll.Title }}
                        </strong></span>
                        <span
                        ><i>(created by {{ $poll.CreatedBy }})</i></span>
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </body>
</html>
{{end}}